@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>If you want to know something new about the birds or ornitology, 
    this page is the right place for you. Just go into it and you will 
    find out many new information about these beutiful animals.
</p>
